@media only screen and (min-width: 1440px) {
    /* styles for MacBook Pro-sized screens and larger */
}

body{
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    color: #333;
}

html{
	background: ;
}


.question{
	font-weight: 600;
	margin-top: 25px;
}

.answers{
	margin-bottom: 20px;
	text-align: left;
}

.answers label{
	display: block;
}

#title{
	font-weight: 700;
	font-size: 30px;
	color: #3599bf;
	text-align: center;
	margin-bottom: -20px
}

.question{
	margin-left: 5px;
	text-align: center;
}
.answers label{
	margin-left: 30px;

}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: white;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
	
}

#submit.hover{
	background-color: #38a;
}
#results{
	
}
#next{
	background: red;
}

.container{
	background-image: url(images/background.jpg);
	position: relative;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: contain;
  	width: 100vw;
  	height: 100vh;
  	margin-left: 0;

 

}
#quiz{
	background-image: url(images/scroll.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 68vh;
	height: 55vh;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 5px;
	font-size: 17px;

	
	

}


/*#layton{
	background-image: url(images/Layton.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 65vh;
	height: 55vh;
	margin-top:5px;
	margin-left: auto;
	margin-right: auto;*/
	



